.chat {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    text-align: center;
}
.wrap {
  
    display: flex;
    flex-direction: column;

}
p {
    margin-top: 200px;
    text-align: center;
}
textarea {
    width: 500px;
    height: 200px;
    border: 2px solid red;
}
button{
    width: 500px;
    height: 30px;
}
.red{
    color: red;
}